@font-face {
    font-family: 'Geomanist';
    src: url('/fonts/Geomanist-Medium.eot');
    src: local('Geomanist Medium'), local('Geomanist-Medium'),
        url('/fonts/Geomanist-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Geomanist-Medium.woff2') format('woff2'),
        url('/fonts/Geomanist-Medium.woff') format('woff'),
        url('/fonts/Geomanist-Medium.ttf') format('truetype'),
        url('/fonts/Geomanist-Medium.svg#Geomanist-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geomanist Book';
    src: url('/fonts/Geomanist-Book.eot');
    src: local('Geomanist Book'), local('Geomanist-Book'),
        url('/fonts/Geomanist-Book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Geomanist-Book.woff2') format('woff2'),
        url('/fonts/Geomanist-Book.woff') format('woff'),
        url('/fonts/Geomanist-Book.ttf') format('truetype'),
        url('/fonts/Geomanist-Book.svg#Geomanist-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geomanist';
    src: url('/fonts/Geomanist.eot');
    src: local('Geomanist'),
        url('/fonts/Geomanist.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Geomanist.woff2') format('woff2'),
        url('/fonts/Geomanist.woff') format('woff'),
        url('/fonts/Geomanist.ttf') format('truetype'),
        url('/fonts/Geomanist.svg#Geomanist') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

