* {padding: 0; margin: 0;  border: 0;}
html {font-size: 20px; scroll-behavior: smooth;}
body {font-size: 1rem; color: #1d1a1c; line-height: 1.4; font-family: "Century Gothic"; font-weight: normal;}
a {text-decoration: none; color: #1d1a1c;}
ul, ol {list-style-type: none;}
p {margin-bottom: 1.4em;}
br {margin:0 !important;}


/* HEADERS */
h1,h2,h3,h4 {font-weight: bold; margin-bottom: 0.25rem}
h1 { font-size: 4vw;}
h2 {font-size: 3.5vw;}
h3 {font-size: 1.2rem;}
h4 {font-size: 1.2rem;} 

@media only screen and (min-width: 1000px) {
    h1 {font-size: 2rem;}
    h2 {font-size: 1.65rem;}
}

@media only screen and (min-width: 1300px) {
    h1 {font-size: 3vw;}
    h2 {font-size: 2.5vw;}
} 

@media only screen and (min-width: 2000px) {
    h1 {font-size: 3rem;}
    h2 {font-size: 2.4rem;}
}
