<header>
    <div class="loading" style='display: none' onclick="removeLoadingScreen(this);">
        <div class="box">
            <div class="white h1 rap">Rapture</div>
            <div class="rapbox">
                <h1 class="white rap">Rapture</h1>
            </div>
            <div class="white h1 rap">Rapture</div>
        </div>
    </div>
    
    <nav>
        <ul>
            <li><a href="/portfolio">Full Portfolio</a></li>
            <li class="nav left">
                <ul>
                    <li><a href="">NEXT PROJECT</a></li>
                    <li><a href="">PREVIOUS PROJECT</a></li>
                </ul>
            </li>
            <li class="nav right">
                <ul>
                    <li><a href="">NEXT PROJECT</a></li>
                    <li><a href="">PREVIOUS PROJECT</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="">zep@rapture.nl</a></li>
                    <li><a href="">+31612345678</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<main> 