{% include header.html %}
<div class="grad"></div>

<section class="intro">
    <figure class="img">
        <div class="resize">
            <div style="padding:56.25% 0 0 0;position:relative;">
                {% for item in site.projects %}
                    {% if item.slug == page.top_video_project %}
                        {% assign vimeo_id = item.vimeo_code %}
                    {% endif %}
                {% endfor %}
                <iframe src="https://player.vimeo.com/video/{{ vimeo_id }}?&autoplay=1&loop=1&title=0&byline=0&portrait=0&muted=1&background=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </figure>
</section>

<section class="grid">
    <ul class="filters">
        <li><input onchange="runFilter();" name="filter" data-for="promos" id="n1" type="checkbox"><label class="fakehover" for="n1">Promo's</label></li>
        <li><input onchange="runFilter();" name="filter" data-for="regie" id="n2" type="checkbox"><label class="fakehover" for="n2">Regie</label></li>
        <li><input onchange="runFilter();" name="filter" data-for="camera" id="n3" type="checkbox"><label class="fakehover" for="n3">Camera</label></li>
    </ul>
    <ul class="grid">
        {% for item in site.projects %}
            <li class="active {% for tag in item.tags %}{{ tag }} {% endfor %}"><a class="fakehover" href="{{ item.slug }}/">
                <img src="{{ item.image }}" alt="{{ item.title }} RAPTURE">
                <span>{{ item.title | strip_html }}</span>
            </a></li>
        {% endfor %}
    </ul>
</section>

<section class="logos">
    <div class="overflower">
        {% assign numRows = 2 %}
        {% assign logos = site.data.logos %}
        {% assign firstRow = logos.size | divided_by: 2.0 | ceil  %}
        {% assign secondRow = logos.size | minus: firstRow %}
        {% for i in (1..numRows) %}
        <div class="row">
            <div class="reverse">
                {% for j in (0..2) %}
                    <ul>
                        {% if j == 0 %}
                            {% assign limit = firstRow %} 
                            {% assign offset = 0 %} 
                        {% else %}
                            {% assign limit = secondRow %} 
                            {% assign offset = firstRow %} 
                        {% endif %}
                        {% for item in logos limit: limit offset: offset %}
                            <li class="img">
                                <img class="white" src="{{ item.image }}" alt="{{ item.title }} logo">
                                <img class="pink" src="{{ item.image }}" alt="{{ item.title }} logo">
                                <img class="blue" src="{{ item.image }}" alt="{{ item.title }} logo">
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {{ firstRow  }}
        {{ secondRow  }}
    </div>
</section>

{% include footer.html %}